#  Build
cmake-build-debug/
cmake-build-release/
build/

# CLion/JetBrains
.idea/
*.iml
*.iws
*.ipr
*.sublime*

# temp files
*.o
*.obj
*.exe
*.log
*.tmp
*.out
*.bak

# scratch and consoles
.idea/scratches/
.idea/consoles/
.idea/.name
.idea/shelf/

# gradle
.gradle/
.gradle/*

# os
.DS_Store
Thumbs.db
desktop.ini
